<div class="jumbotron">
  <h1>USER LIST</h1>
  <table class="table">
    <thead><tr><th>id</th><th>name</th><th>age</th><th>수정</th><th>삭제</th></tr></thead>
    <tbody>
      <tr ng-repeat="obj in userList">
        <!-- Trigger the modal with a button 
        <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="getUserInfo(obj.id)">상세정보</button></td>-->
        <td><input type="text" class="form-control" ng-model="obj.businessid"></td>
        <td><input type="text" class="form-control" ng-model="obj.name"></td>
        <td><input type="text" class="form-control" ng-model="obj.price"></td>
        <td><input type="text" class="form-control" ng-model="obj.imgurl"></td>

        <td><button type="button" class="btn btn-warning" ng-click="modifyUserInfo(obj.id,obj.name,obj.age)">Edit</button></td>
        <td><button type="button" class="btn btn-danger" ng-click="deleteUserInfo(obj.id)">Danger</button></td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User Info</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr><td>ID</td><td>{{userInfo.id}}</td></tr>
          <tr><td>NAME</td><td>{{userInfo.name}}</td></tr>
          <tr><td>AGE</td><td>{{userInfo.age}}</td></tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>

  </div>
  </div>
</div>
